@media (max-width: 1300px){

    .bg-two{
        background-position-x: -500px!important;
    }
}

@media (max-width: 855px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 600px;
        position: absolute;
        z-index: -1;
    }

    .bg-two{
        background-position-x: -700px!important;
    }

    #header{
        height: 600px;
        min-height: 300px;
    }

    .masinfo a{
        margin-top: 60px!important;
        color: white!important;
    }

    .ceremonia,
    .fiesta{
        flex-basis: 80%;
    }

    .carousel-inner {
        width: 500px!important;
        border: 10px solid rgb(236, 236, 236);
    }

}

@media (max-width: 710px) {

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: -1;
    }
    
    .bg-two{
        background-position-x: -800px!important;
    }


    #header h1{
        font-size: 80px;
    }
}

@media (max-width: 615px){

    #header{
        height: 500px;
        min-height: 300px;
    }

    .masinfo a{
        margin-top: 60px!important;
        color: white!important;
    }

    .regalos{
        width: 95%;
        min-height: 200px;
    }

    .header-content {
        flex-basis: 100%;
        text-align: center;
    }

    .instagram {
        width: 95%;
    }

}

@media (max-width: 500px){

    #header h1{
        font-size: 50px;
    }

    #header h3{
        font-size: 20px;
    }

    .bg-two{
        background-position-x: -900px!important;
    }

    .ceremonia,
    .fiesta{
        flex-basis: 80%;
    }

    .carousel-inner {
        width: 400px!important;
        border: 10px solid rgb(236, 236, 236);
    }

}

@media (max-width: 430px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 110%;
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: -1;
    }

    .bg-two{
        background-position-x: -900px!important;
    }

    .carousel-inner{
        width: 300px !important;
        border: 10px solid rgb(236, 236, 236);
    }

}

@media (max-width: 370px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 120%;
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: -1;
    }

}



@media (max-width: 340px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 140%;
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: -1;
    }

    .bg-two{
        background-position-x: -1000px!important;
    }

}


@media (max-width: 290px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 140%;
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: -1;
    }

}

@media (max-width: 230px){

    .bg {
        background-image: url(../img/bg2.png);
        background-attachment: inherit;
        background-position: center;
        background-size: 150%;
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: -1;
    }

}